*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 2.5em;
  font-family: $base-font;
  line-height: 1.4;
  background-color: $tone-light;
  border-bottom: 2px solid $colour-light-blue;
  min-height: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  padding: 2em 2em;
  overflow-y: auto;
  height: calc(100% - 3em);
}

p, ul, ol, table, figure {
  margin-top: 1em;
  margin-bottom: 1em;
}

figure {
  margin-left: 0;
  margin-right: 0;
}


h1, h2, h3 {
  font-family: $heading-font;
  .sub-heading {
    display: block;
    font-family: $base-font;
    font-size: 1rem;
    font-weight: 400;
  }
}

ol,
ul {
  > li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

ol.all-components {
  list-style: none;
  padding: 0;
  li {
    margin: 2em 0;
  }
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea,
input[type="submit"],
button {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  border-width: 2px;
  border-style: solid;
  border-color: $colour-dark-blue;
  background-color: lighten($tone-light, 3%);
  border-radius: 0.4em;
  font-size: 2.5rem;
  font-family: 'Slabo 27px', serif;
}

main {
  max-width: 25em;
  margin: auto;

  > section.view {
    text-align: center;
  }
}
