//colours:
$colour-light-blue: #D2D4F6;
$colour-grey-blue: #e2e2ec;
$colour-dark-blue: #393FAC;
$colour-green: #4adc69;
$colour-red: #f47c68;

//tones:
$tone-dark: #222;
$tone-medium: #ddd;
$tone-light: #efefef;

//sizes:
$base-font-size: 20px;



// Fonts:
@font-face{
  font-family: 'Delius Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Delius Swash Caps'), local('DeliusSwashCaps-Regular'), url(../../fonts/Delius-Swash-Caps.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url(../../fonts/Slabo-27px.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url(../../fonts/Slabo-27px.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

$base-font: 'Slabo 27px', sans-serif;
$heading-font: 'Delius Swash Caps', cursive;

// easing functions:

$easeOutExp: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeNBounce: cubic-bezier(0.675, 1.055, 0.810, 1.170);
