//colours:
$colour-light-blue: #D2D4F6;
$colour-grey-blue: #e2e2ec;
$colour-dark-blue: #393FAC;
$colour-green: #4adc69;
$colour-red: #f47c68;

//tones:
$tone-dark: #222;
$tone-medium: #ddd;
$tone-light: #efefef;

//sizes:
$base-font-size: 20px;
