.message-box {

  $popup-padding: 1em;

  text-align: center;
  position: absolute;
  width: calc(100% - #{$popup-padding});
  padding: $popup-padding;
  top: $popup-padding/2;
  left: $popup-padding/2;
  box-shadow: 5px 5px 14px 3px transparentize($tone-dark, 0.6);
  background-color: transparentize($tone-light, 0.05);
  z-index: 1;

  p {
    margin-bottom: 8rem;
  }
}
