

.performance-indicator {
  font-size: 0.7em;

  figcaption {
    font-size: 1.2em;

    .avatar {
      margin-right: 1em;
      border-radius: 50%;
      border: 2px solid $tone-medium;
      transition: box-shadow 0.3s ease-out;
    }
  }

  figcaption, table {
    width: 100%;
  }

  table {
    border-collapse: collapse;

    th {
      border-bottom: 2px solid $tone-medium;
      transition: border 0.2s linear;
    }

    td, th {
      padding: 0.25em 1em;
    }
  }

  @keyframes penaltyAnimation {
    0% {
      opacity: 0;
      bottom: 0;
    }

    33% {
      opacity: 1;
      bottom: 1em;
    }

  66% {
      opacity: 0.66;
      bottom: 2em;
    }

    100% {
      opacity: 0;
      bottom: 3em;
    }
  }

  .points {
    position: relative;

    em {
      position: absolute;
      bottom: 0;
      left: 55%;
      width: 3em;
      opacity: 0;
      color: $colour-dark-blue;
      animation-name: penaltyAnimation;
      animation-duration: 2s;
      animation-direction:normal;
      animation-timing-function: ease-out;
    }
  }
  .rating {
    .visual {
      display: inline-flex;
      flex-wrap: nowrap;

      $bubble-dim: 1em;

      .bubble {
        flex: 0 0 auto;
        width: $bubble-dim;
        height: $bubble-dim;
        margin: $bubble-dim/4 $bubble-dim/4 $bubble-dim/4 0;
        border-radius: $bubble-dim/2;
        border: 2px solid $tone-medium;
        display: block;
      }
    }
  }

  &.player-1.is-in-turn {

    figcaption {
      color: darken($colour-red, 20%);

      .avatar {
        box-shadow: 0 0 1em 0.5em $colour-red;
      }
    }

    th {
      border-width: 3px;
      border-color: $colour-red;
    }
  }

  &.player-2.is-in-turn {

    figcaption {
      color: darken($colour-green, 20%);

    .avatar {
        box-shadow: 0 0 1em 0.5em $colour-green;
      }
    }

    th {
      border-width: 3px;
      border-color: $colour-green;
    }
  }
}
