

$shadowSpread: 1em;

@mixin buttonColouring($colour) {
  $newColour: darken($colour, 10%);
  background-color: $colour;
  border-color: $newColour;
  box-shadow: 0 0 0px 0px $colour;

  &:hover {
    box-shadow: 0 0 $shadowSpread 1px $colour;
  }

  &:active {
    box-shadow: 0 0 $shadowSpread*2 3px $colour;
  }
  &[type="submit"]:active {
    box-shadow: 0 0 $shadowSpread*3 1em $colour;
  }
}

button {
  display: block;
  color: $tone-dark;
  border-radius: 0.4em;
  padding: 0.5em 2em;
  cursor: pointer;
  outline: none;
  @include buttonColouring($tone-light);
  transition: box-shadow 0.2s linear;
}

button.is-cta {
  @include buttonColouring($colour-light-blue);
}

button.player-1 {
  @include buttonColouring($colour-red);
}

button.player-2 {
  @include buttonColouring($colour-green);
}

button[type="submit"]:active {
  box-shadow-spread: $shadowSpread*3;
}
