


$gameTileDim: 4em;

.game-tile {
  input[type="checkbox"] {
    display: none;
  }


  label {
    width: $gameTileDim;
    height: $gameTileDim;
    border-radius: 0.5em;
    border-width: 0.25em;
    border-style: solid;
    border-color: $tone-medium;
    display: block;
    margin: 0.35em;
    cursor: pointer;
    transition: background-color 0.3s linear, border 0.3s linear;

    img {
      width: 3em;
      margin: 0.25em;
    }
  }

  input[type="checkbox"]:disabled ~ label {
    cursor: default;
  }
}

.game-tile.player-1  label {
  border-color: $colour-red;
}

.game-tile.player-1.winner  label{
  background-color: lighten($colour-red, 20%);
}


.game-tile.player-2  label {
  border-color: $colour-green;
}

.game-tile.player-2.winner label {
  background-color: lighten($colour-green, 20%);
}
